/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main {
    padding: 20px;
    text-align: center;
}

/* Enlaces */
a {
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Estilo de la lista */
ul,
ol {
    display: inline-block;
}

ul {
    list-style-type: none;
}

ol {
    list-style-position: inside;
    text-align: left;
}

ul li,
ol li {
    margin: 10px 0;
}